{% extends "base.html" %}
{% block content %}
<form class="login_form" method="post" action="{{url_for('.login')}}">
    {{ form.csrf_token }}
    <fieldset class="login_form_fieldset">
        <legend class="login_form_legend">Employee Login</legend>
        <div class="login_form_emp_num_container">
            {{ form.employee_number.label(class="emp_num_label") }}
            {{ form.employee_number(class="emp_num_input", placeholder="Your Employee Number")}}

            {% if form.employee_number.errors %}
            <ul>
                {% for error in form.employee_number.errors %}
                <li>{{error}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="login_form_password_container">
            {{ form.password.label(class="password_label")}}
            {{ form.password(class="password_input", placeholder="Your Password")}}

            {% if form.password.errors %}
            <ul>
                {% for error in form.password.errors %}
                <li>{{error}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="login_form_submit_but_container">{{ form.submit(class="login_form_submit_but") }}</div>
    </fieldset>
</form>
{% endblock %}
